<p id="notice"><%= notice %></p>

<p>
  <strong>Spree user:</strong>
  <%= @profile.spree_user_id %>
</p>

<p>
  <strong>First name:</strong>
  <%= @profile.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @profile.last_name %>
</p>

<p>
  <strong>Can blog:</strong>
  <%= @profile.can_blog %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
