<div class="blog-title-box my-3">
  <div class="row">

    <div class="image background-image col-md-4"
      style="background-image: url('<%= blog.featured_image_url %>')">
    </div> <!-- image col -->

    <%= link_to blog_path(blog) do %>
      <div class="text col-sm-8 px-4 py-3">
        <h3>
          <%= blog.title %>
        </h3>

        <p><%= blog.teaser %></p>

        <p class="tags">
          <%= raw( blog.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') ) %>
        </p>

        <p>
          <em>By <%= Profile.where(spree_user_id: blog.spree_user_id).last.full_name %> on <%= blog.published_at.in_time_zone("America/Los_Angeles").strftime("%B %d, %Y") %></em>
        </p>

        <% if current_spree_user && current_spree_user.admin? %>
          <div class="links pr-4 pb-1" style="position: absolute; bottom: 0; right: 0">
             <%= link_to '<i class="fas fa-pen"></i>'.html_safe, edit_blog_path(blog) %>
             <%= link_to '<i class="far fa-trash-alt"></i>'.html_safe, blog_path(blog), method: :delete, data: { confirm: 'Are you sure you want to delete that blog?'} %>
          </div>
        <% end %>
      </div> <!-- text col -->
    <% end %> <!-- link to blog -->

  </div> <!-- row -->
</div> <!-- blog title box -->
