<header class="jumbotron my-4 d-flex align-items-center blog-background">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12 text-center">
        <h1 class="display-4 big-h1 mt-5 mb-2 color-white">The Blog</h1>
        <h4 class="lead mb-5 subtitle color-white">Your Source for Qualified Knowledge</h4>
      </div>
    </div>
  </div>
</header>


<% if current_spree_user && current_spree_user.admin? %>
  <section class="admin container">
    <div class="row">
      <div class="col text-left pt-3">
        <h2>Draft Posts</h2>
        <% @blogs.each do |blog| %>
          <% if !blog.published %>
            <p class="my-1 py-0"><%= link_to blog.title, edit_blog_path(blog) %></p>
          <% end %>
        <% end %>
      </div> <!-- drafts col -->
      <div class="col text-right pt-3">
        <%= link_to "Create New Blog", new_blog_path, class: "btn btn-primary" %>
        <%= link_to "Blog Management", home_blogs_path, class: "btn btn-primary" %>
      </div> <!-- create new col -->
    </div> <!-- row -->
  </section>

  <hr>
<% end %>


<main class="container">

  <div class="row justify-content-center">

    <div class="col-12 col-sm-10 col-md-8 col-lg-6 text-center pt-4" id="tag_cloud">
      <% tag_cloud Blog.tag_counts, %w{s m l} do |tag, css_class| %>
      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
      <% end %>
    </div>

    <% if @tagged_blogs.count != 0 %>

      <div class="col-12 pt-3" id="tagged">
        <% @tagged_blogs.each do |blog| %>
          <%= render partial: "blogs/blog-card", locals: { blog: blog } %>
        <% end %> <!-- each do -->
      </div> <!-- col -->

    <% else %>

      <% if @big_feature.count != 0 %>
        <div class="col-12 pt-3" id="big-feature">
          <% @big_feature.each do |blog| %>
            <%= render partial: "blogs/blog-card-big", locals: { blog: blog } %>
          <% end %> <!-- each do -->
        </div> <!-- col -->
      <% end %>

      <% if @most_popular.count != 0 %>
        <div class="col-sm-6 pt-3" id="most-popular">
          <h2>Most Popular</h2>
          <% @most_popular.each do |blog| %>
            <%= render partial: "blogs/blog-card", locals: { blog: blog } %>
          <% end %> <!-- each blog do -->
        </div> <!-- col -->
      <% end %>

      <% if @featured.count != 0 %>
        <div class="col-sm-6 pt-3" id="featured">
          <h2>Featured</h2>
          <% @featured.each do |blog| %>
            <%= render partial: "blogs/blog-card", locals: { blog: blog } %>
          <% end %> <!-- each blog do -->
        </div> <!-- col -->
      <% end %>

      <% if @recent.count != 0 %>
        <div class="col-12 pt-3" id="recent">
          <h2>Most Recent Posts</h2>
          <% @recent.each do |blog| %>
            <%= render partial: "blogs/blog-card", locals: { blog: blog } %>
          <% end %> <!-- each do -->
        </div> <!-- col -->
      <% end %>

    <% end %> <!-- tagged if else -->

  </div> <!-- row -->

</main> <!-- page container -->
