<main class="container">

  <header class="text-center my-4">
    <h1 class="mb-3">Admin Portal</h1>
    <%= link_to "Spree Backend", spree.admin_path, class: "btn btn-primary btn-block mx-1" %> <br>
    <%= link_to "Contact Us Submissions", contacts_path, class: "btn btn-primary btn-block mx-1" %> <br>
    <%= link_to "Write a Blog", new_blog_path, class: "btn btn-primary btn-block mx-1" %> <br>
    <%= link_to "Manage Blogs", admin_blogs_path, class: "btn btn-primary btn-block mx-1" %> <br>
    <%= link_to "Manage Testimonials", admin_testimonials_path, class: "btn btn-primary btn-block mx-1" %> <br>
  </header>

  <section>
  </section>

</main>
