<!-- carousel slider -->
  <div class="overlay">
    <div class="transparent-white">
      <h1 class="display-4 mb-2">Laguna <div style="display: inline-block; white-space: nowrap">Greenw<%= image_tag "dropring.png", style: "display: inline-block; height: 2rem" %>rks</div></h1>
      <p class="lead">Authorized Distributor of Dyson Professional Products</p>
    </div>
  </div>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="<%= asset_path "dyson-for-business-16_9.jpg" %>" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%= asset_path "dyson-for-business-2-16_9.jpg" %>" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%= asset_path "dyson-for-business-3.jpg" %>" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="<%= asset_path "dyson-for-business-4.jpg" %>" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<!-- carousel slider -->




<!-- Page Content -->
<div class="container pt-5">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>What We Do</h2>
      <hr>
      <p>
        Laguna Greenworks was founded in 2009 to provide innovative and interesting products to those wanting sustainable and green alternatives to wasteful paper and plastic goods.
      </p>
      <p>
        As an Authorized Distributor of Dyson Professional Products, Laguna Greenworks is your supplier for the full range of top-quality Dyson products, including...
        <ul>
          <li>The family of Airblade hand dryers</li>
          <li>Air purifiers, fans, and humidifiers</li>
          <li>Cordless and canister HEPA filter vacuum cleaners</li>
          <li>Cu-Beam and CSYS LED lighting</li>
        </ul>
      </p>
      <p>
        Our standard is excellent customer service and competitive pricing, and all ground shipping is complimentary.
      </p>
      <%= link_to "About Us", main_app.new_contact_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Southern California</strong>
        <br>309 Agate Street
        <br>Laguna Beach,CA 92651
        <br><%= tel_to("949-371-3310") %>
        <br><%= mail_to "info@lagunagreenworks.com" %>
      </address>
      <address>
        <strong>Northern California</strong>
        <br><%= tel_to("650-730-6523") %>
        <br><%= mail_to "ellenm@lagunagreenworks.com" %>
      </address>
      <strong>Online Support</strong>
      <br><%= link_to "Contact Us", main_app.new_contact_path, class: "btn-bubble" %>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "hand-dryers-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Hand Dryers</h4>
          <p class="card-text">
            Dyson’s LEED-certified Airblades quickly dry hands with HEPA filtered air.  Choose from the new, highly efficient 9kJ, the Airblade V and the classic dB, or select an all in one Wash+Dry option.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('airblades'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "hot-cool-link.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Air Quality</h4>
          <p class="card-text">
            Create a cleaner, more comfortable working environment with a Dyson purifying system. Choose from the Pure Hot+Cool or Pure Cool air quality monitors. The HEPA layer captures 99.97% of allergens and pollutants. We also carry additional fan options.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('air-quality'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "floor-care-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Floor Care</h4>
          <p class="card-text">
            Powerfully clean your work environment with a cordless vacuum that intelligently changes your motor speed as it moves from carpet to hard surfaces. Deep cleaning vacuum heads pull ground in dirt from carpets and dust from floors and upholstery.  Auto, Boost and Eco modes give you options to make the most of your run times.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('floor-care'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "lighting-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Lighting</h4>
          <p class="card-text">
            Flexible and powerful LED light that efficiently lights more with less energy to increase your business performance.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('lighting'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->


  </div> <!-- row -->

</div>
<!-- /.container -->
