
<!-- Header -->
<header class="py-5 mb-5 bg-image-full bg-image-stripe" style="background-image: url(<%= asset_path "dyson-for-business.jpg" %>)">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 mt-5 mb-2">Laguna <div style="display: inline-block; white-space: nowrap">Greenw<%= image_tag "dropring.png", style: "display: inline-block; height: 2rem" %>rks</div></h1>
        <p class="lead mb-5">Authorized Distributor of Dyson Professional Products</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>What We Do</h2>
      <hr>
      <p>
        Laguna Greenworks was founded in 2009 to provide innovative and interesting products to those wanting sustainable and green alternatives to wasteful paper and plastic goods.
      </p>
      <p>
        As an Authorized Distributor of Dyson Professional Products, Laguna Greenworks is your supplier for the full range of top-quality Dyson products, including the family of Airblade hand dryers, air purifiers, fans and humidifiers, cordless and canister HEPA filter vacuum cleaners, and Cu-Beam and CSYS LED lighting.
      </p>
      <p>
        Excellent customer service and competitive pricing is our standard, and all ground shipping is complimentary.
      </p>
      <%= link_to "About Us", main_app.new_contact_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Southern California</strong>
        <br>309 Agate Street
        <br>Laguna Beach,CA 92651
        <br><%= tel_to("949-371-3310") %>
        <br><%= mail_to "info@lagunagreenworks.com" %>
      </address>
      <address>
        <strong>Northern California</strong>
        <br><%= tel_to("650-730-6523") %>
        <br><%= mail_to "ellenm@lagunagreenworks.com" %>
      </address>
      <strong>Online Support</strong>
      <br><%= link_to "Contact Us", main_app.new_contact_path, class: "btn-bubble" %>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "hand-dryers-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Hand Dryers</h4>
          <p class="card-text">
            Quickly dry hands with HEPA filtered air.  Learn more about LEED-certified Dyson Airblades.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('airblades'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "hot-cool-link.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Air Quality</h4>
          <p class="card-text">
            Create a cleaner, more comfortable environment with a carbon and glass HEPA layer that captures 99.97% of allergens and pollutants.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('air-quality'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "floor-care-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Floor Care</h4>
          <p class="card-text">
            Powerfully clean your environment with three modes that intelligently adapt to your needs.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('floor-care'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "lighting-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Lighting</h4>
          <p class="card-text">
            Flexible and powerful LED light that efficiently lights more with less energy to increase your business performance.
          </p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('lighting'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->


  </div> <!-- row -->

</div>
<!-- /.container -->
