
<!-- Header -->
<header class="py-5 mb-5 bg-image-full bg-image-stripe" style="background-image: url(<%= asset_path "dyson-for-business.jpg" %>)">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 mt-5 mb-2">Laguna <div style="display: inline-block; white-space: nowrap">Greenw<%= image_tag "dropring.png", style: "display: inline-block; height: 2rem" %>rks</div></h1>
        <p class="lead mb-5">Authorized Distributor of Dyson Professional Products</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>What We Do</h2>
      <hr>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
      <%= link_to "About Us", main_app.new_contact_path, class: "btn btn-primary" %>
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contact Us</h2>
      <hr>
      <address>
        <strong>Southern California</strong>
        <br>309 Agate Street
        <br>Laguna Beach,CA 92651
        <br><%= tel_to("949-371-3310") %>
        <br><%= mail_to "info@lagunagreenworks.com" %>
      </address>
      <address>
        <strong>Northern California</strong>
        <br><%= tel_to("650-730-6523") %>
        <br><%= mail_to "ellenm@lagunagreenworks.com" %>
      </address>
      <strong>Online Support</strong>
      <br><%= link_to "Contact Us", main_app.new_contact_path, class: "btn-bubble" %>
    </div>
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "hand-dryers-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Hand Dryers</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus.</p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('airblades'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "air-quality-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Air Quality</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('air-quality'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "floor-care-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Floor Care</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('floor-care'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->

    <div class="col-sm-6 col-lg-3 mb-5">
      <div class="card h-100">
        <%= image_tag "lighting-2.jpg", class: "card-img-top" %>
        <div class="card-body h-50">
          <h4 class="card-title">Lighting</h4>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque sequi doloribus totam ut praesentium aut.</p>
        </div>
        <div class="card-bottom text-center">
          <%= link_to "See More", main_app.page_path('lighting'), class: "btn-bubble" %>
        </div> <!-- card bottom -->
      </div> <!-- card -->
    </div> <!-- col -->


  </div> <!-- row -->

</div>
<!-- /.container -->
