<main class="container-fluid px-5 my-4">

  <header class="text-center mb-4">
    <h1>Resources</h1>
    <p>Technical information, product specifications, and information guides for our products.</p>
    <div>
      <a href="#hand-dryers" class="btn btn-primary mx-2">Hand Dryers</a>
      <a href="#air-quality" class="btn btn-primary mx-2">Air Quality</a>
      <a href="#floor-care" class="btn btn-primary mx-2">Floor Care</a>
      <a href="#lighting" class="btn btn-primary mx-2">Lighting</a>
    </div>
  </header>


    <section id="hand-dryers">
      <h2>Hand Dryers</h2>
      <div class="row">

        <div class="col-12 col-sm-6 col-xl-3 mb-4">
          <%= image_tag "HandDryers-Rental-M2-WD.jpg", class: "w-100 border my-2" %>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_Wash%2BDry_WD04-05-06_Owners_Manual_Ex.pdf" download="Owner's-Manual.pdf" target="_blank">Owner's Manual</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_Wash_Dry_WD04-05-06_Tech_Spec_HV_LV.pdf" download="Technical-Specifications-(HV/LV).pdf" target="_blank">Technical Specifications (HV/LV)</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/dyson_US_AB_WD_pre-install_guide.pdf" download="Pre-Installation-Guide.pdf" target="_blank">Pre-Installation Guide</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_Wash%2BDry_WD04-05_Installation_Notes_Ex.pdf" download="Installation-Notes-(WD04,-WD05).pdf" target="_blank">Installation Notes (WD04, WD05)</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_Wash%2BDry_WD06_Installation_Notes_Ex.pdf" download="Installation-Notes-(WD06).pdf" target="_blank">Installation Notes (WD06)</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_Wash%2BDry_WD04-05+Installation_Guide_Ex.pdf" download="Installation-Guide-(WD04,-WD05).pdf" target="_blank">Installation Guide (WD04, WD05)</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_Wash%2BDry_WD06_Installation_Guide_Ex.pdf" download="Installation-Guide-(WD06).pdf" target="_blank">Installation Guide (WD06)</a><br>
        </div> <!-- col -->

        <div class="col-12 col-sm-6 col-xl-3 mb-4">
          <%= image_tag "HandDryers-Rental-M2-9kJ.jpg", class: "w-100 border my-2" %>
          <a href="" download="" target="_blank">Technical Specifications</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/airblade_9kj_supporting_backplate_installation_guide.pdf" download="Supporting-Backplate-Installation-Guide.pdf" target="_blank">Supporting Backplate Installation Guide</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/airblade_9kJ_install_maintenance_manual_global.pdf" download="Installation-and-Maintenance-Manual.pdf" target="_blank">Installation and Maintenance Manual</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/airblade_9kJ_installation_drawings_global.pdf" download="Installation-Drawings.pdf" target="_blank">Installation Drawings</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/airblade_9kj_cleaning_guide_us.pdf" download="Cleaning-Guide.pdf" target="_blank">Cleaning Guide</a><br>
        </div> <!-- col -->

        <div class="col-12 col-sm-6 col-xl-3 mb-4">
          <%= image_tag "HandDryers-Rental-M2-V.jpg", class: "w-100 border my-2" %>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_V_Range_Brochure_Ex.pdf" download="Range-Brochure.pdf" target="_blank">Range Brochure</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_HU02_V_Installation_Guide_US.pdf" download="Installation-Guide.pdf" target="_blank">Installation Guide</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_HU02_V_Owners_Manual_US.pdf" download="Owner's-Manual.pdf" target="_blank">Owner's Manual</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_V_HU02_Tech_Spec_(HV+and+LV)_Ex.pdf" download="Technical-Specifications-HU02.pdf" target="_blank">Technical Specifications HU02</a><br>
        </div> <!-- col -->

        <div class="col-12 col-sm-6 col-xl-3 mb-4">
          <%= image_tag "HandDryers-Rental-M2-DB.jpg", class: "w-100 border my-2" %>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_V_Range_Brochure_Ex.pdf" download="Range-Brochure.pdf" target="_blank">Range Brochure</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/dB_Installation_Guide_global.pdf" download="Installation-Guide.pdf" target="_blank">Installation Guide</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/dB_AB14_OPMAN_GLOBAL.pdf" download="Owner's-Manual.pdf" target="_blank">Owner's Manual</a><br>
          <a href="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Resources/Dyson_US_AB_dB_AB14_Tech_Spec_(HV_and_LV)_Ex.pdf" download="Technical-Specifications.pdf" target="_blank">Technical Specifications</a><br>
        </div> <!-- col -->

      </div> <!-- row -->
    </section>

    <section id="air-quality" class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
      <h2>Air Quality</h2>
      <%= image_tag "", class: "w-100 border my-2" %>
      <a href="" download="" target="_blank"></a><br>
    </section>

    <section id="floor-care" class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
      <h2>Floor Care</h2>
      <%= image_tag "", class: "w-100 border my-2" %>
      <a href="" download="" target="_blank"></a><br>
    </section>

    <section id="lighting" class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
      <h2>Lighting</h2>
      <%= image_tag "", class: "w-100 border my-2" %>
      <a href="" download="" target="_blank"></a><br>
    </section>


</main>
