<%= simple_form_for(contact) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= invisible_captcha :subtitle, :topic %>

  <div class="row">
    <div class="field col-md-6">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: "form-control", required: true %>
    </div>

    <div class="field col-md-6">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: "form-control", required: true %>
    </div>

    <div class="field col-md-6">
      <%= form.label :email %>
      <%= form.text_field :email, class: "form-control" %>
    </div>

    <div class="field col-md-6">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: "form-control" %>
    </div>

    <div class="field col-12">
      <%= form.label "Preferred Method of Contact" %>
      <%= form.input :preferred_contact, label: false, input_html: { class: 'browser-default'}, collection: [['Email', 'Email'], ['Phone', 'Phone']] %>
    </div>

    <div class="field col-12">
      <%= form.label :subject %>
      <%= form.text_field :subject, class: "form-control" %>
    </div>

    <div class="field col-12">
      <%= form.label :message %>
      <%= form.text_area :message, class: "form-control", required: true %>
    </div>

    <div class="text-center col-12">
      <%= form.submit "Send Message", class: "form-submit btn-bubble", required: true %>
    </div>
  </div> <!-- row -->

<% end %>
