<main class="container py-5">

  <header class="text-center">
    <h1>Contact Us Submissions</h1>
  </header>



  <% @contacts.each do |contact| %>
    <section class="my-3">
      <h3><%= link_to contact.subject, contact %> <%= link_to '<i class="fas fa-trash"></i>'.html_safe, contact, method: :delete, data: { confirm: 'Are you sure?' } %></h3>
      <p>
        <strong>
          <%= contact.first_name %> <%= contact.last_name %>
          ( <%= mail_to contact.email %><% if contact.preferred_contact == "Email" %> <i class="fas fa-star"></i><% end %>
          &nbsp;|&nbsp;
          <%= contact.phone %><% if contact.preferred_contact == "Phone" %> <i class="fas fa-star"></i><% end %> )
        </strong>
        <br>
        <% if contact.responded %>Responded<% else %>Not Responded<% end %>
      </p>
    </section>
  <% end %>


</main>
