

<!-- Jumbotron Header -->
<header class="jumbotron my-4 d-flex align-items-center laguna-beach-background" style="min-height: 600px">
  <div class="container">
    <h1 class="display-3">About Laguna Greenworks</h1>
    <p class="lead" style="line-height: 1.2">
      CEO Mallory McCamant founded Laguna Greenworks in 2009 in Laguna Beach, California. As the business grew, a regional office was opened in Northern California in 2019, which is now located in Sacramento, California.
    </p>
    <a href="#contact" class="btn btn-primary btn-lg">Contact Us</a>
    <%= link_to "See Customer Photos", page_path("testimonials"), class: "btn btn-primary btn-lg" %>
  </div>
</header>




<div class="container">


  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Headshots/Mallory+McCamant+(Square).jpg" alt="Mallory McCamant Headshot">
        <div class="card-body">
          <h4 class="card-title mb-1">Mallory<br class="d-lg-none"> McCamant</h4>
          <h5 class="color-green font-weight-bold">CEO</h5>
          <p class="card-text">
            Mallory has over 30 years of experience in the business sector serving as CFO and COO for engineering companies and private equity firms.  She has a wide breadth of knowledge, including IPO, M&A, credit and banking relationships, business development, branding, and identity.
          </p>
          <p class="card-text">
            Mallory has an MBA from The Paul Merage School of Business at the University of California, Irvine.  She also received her BA from UC Irvine, where she played for its Division 1 women’s tennis team.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Headshots/Ellen+Mallory+(Square).jpg" alt="Ellen Mallory Headshot">
        <div class="card-body">
          <h4 class="card-title mb-1">Ellen<br class="d-lg-none"> Mallory</h4>
          <h5 class="color-green font-weight-bold">Regional Manager</h5>
          <p class="card-text">
            Ellen has over 35 years of experience in the public and private sectors.  After 15 years in the aerospace industry, both as a contract administrator and a consultant, Ellen moved her energies to the public sector.  She was elected to the local school board and was appointed to three city commissions and a county civil grand jury.
          </p>
          <p class="card-text">
            Ellen has an MBA from The Paul Merage School of Business at the University of California, Irvine, and a BA in Political Science from Principia College.
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <div class="card h-100">
        <img class="card-img-top" src="https://lagunagreenworks.s3-us-west-1.amazonaws.com/Headshots/Liz+Bayardelle+(Square).jpg" alt="Liz Bayardelle Headshot">
        <div class="card-body">
          <h4 class="card-title mb-1">Liz<br class="d-lg-none"> Bayardelle</h4>
          <h5 class="color-green font-weight-bold">Digital Polymath</h5>
          <p class="card-text">
            Liz serves as Laguna Greenworks' resident digital nerd and research geek, with experience in analytics, front- and back-end web development in multiple programming languages, digital and content marketing strategies, and psychological consulting and research.
          </p>
          <p class="card-text">
            Liz has a PhD in Business Psychology from The Chicago School of Professional Psychology, a MA from John Jay College in New York, and a BA in Psychology from Pomona College.
          </p>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

  <div class="half-buffer"></div>

  </div> <!-- container -->

  <div id="contact" class="jumbotron laguna-beach-background">
    <div class="container">
      <h1 class="text-center">Contact Us</h1>
      <%= render 'form', contact: @contact %>
    </div> <!-- container -->
  </div> <!-- jumbotron -->



  <section class="my-5 container">
    <div class="row">
      <div class="col-12">
        <h2 class="text-center mb-3">Get in Touch</h2>
      </div> <!-- col -->
      <div class="col-sm-6">
        <strong>Southern California</strong>
        <br>309 Agate Street
        <br>Laguna Beach, CA 92651
        <br><%= tel_to("949-371-3310") %>
        <br><%= mail_to "info@lagunagreenworks.com" %>
      </div>
      <div class="col-sm-6">
        <strong>Northern California</strong>
        <br><%= tel_to("650-730-6523") %>
        <br><%= mail_to "ellenm@lagunagreenworks.com" %>
      </div>
    </div>
  </section> 
<!-- /.container -->
